.main_container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: #eeeeee;
	position: relative;

	.modal_btn {
		background-color: #ffffff;
		border-radius: 20px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

		button {
			min-width: 280px;
			min-height: 40px;
			padding: 6px;
			cursor: pointer;
			display: flex;
			justify-content: center;
			align-items: center;
			color: #000;
			font-size: 30px;
			border: none;
			outline: none;
			background: none;

			.icon {
				color: #007775;
			}
		}
	}

	.overlay {
		position: absolute;
		padding: 6px;
		transition: all 0.5s ease-in-out;

		.modal {
			position: relative;
			background-color: #ffffff;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 10px;
			width: 420px;
			height: 316px;
			transform: translate(0, 0);
			transition: all 0.5s ease-in-out;
			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

			svg {
				position: absolute;
				cursor: pointer;
				width: 36px;
				height: 36px;
				right: 0;
				top: 0;
				margin: 3px;
				opacity: 0.5;

				&:hover {
					opacity: 1;
				}
			}
		}
	}

	.overlay.animated {
		opacity: 0;
		visibility: hidden;

		.modal {
			opacity: 0;
			visibility: hidden;
			transform: translate(5%, 5%);
			transition-delay: 0.2s;
		}

		&.show {
			opacity: 1;
			visibility: visible;

			.modal {
				opacity: 1;
				visibility: visible;
				transform: translate(0, 0);
			}
		}
	}
}
