.main_container {
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background-color: #eeeeee;

	.modal_btn {
		background-color: #ffffff;
		border-radius: 20px;
		box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

		button {
			min-width: 280px;
			min-height: 40px;
			padding: 6px;
			cursor: pointer;
			display: flex;
			justify-content: center;
			align-items: center;
			color: #000;
			font-size: 30px;
			border: none;
			outline: none;
			background: none;

			.icon {
				color: #007775;
			}
		}
	}

	.overlay {
		//display: none;
		padding: 6px;

		.modal {
			position: relative;
			background-color: #ffffff;
			display: flex;
			justify-content: center;
			align-items: center;
			border-radius: 10px;
			width: 420px;
			height: 316px;
			box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5);

			svg {
				position: absolute;
				cursor: pointer;
				width: 36px;
				height: 36px;
				right: 0;
				top: 0;
				margin: 3px;
				opacity: 0.5;

				&:hover {
					opacity: 1;
				}
			}
		}
	}
}
